# MacOS
*.DS_Store

# Ignorar Configurações
wordpress/.htaccess
wordpress/wp-config.php

# Ignorar Modelos padrões do Wordpress
wordpress/wp-config-sample.php
wordpress/license.txt
wordpress/readme.html

# Ignorar tudo no wp-content/cubonove exceto os diretórios
# "mu-plugins", "plugins", "themes"
wordpress/wp-content/*
!wordpress/wp-content/languages/
!wordpress/wp-content/mu-plugins/
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/
wordpress/polen/*
!wordpress/polen/languages/
!wordpress/polen/mu-plugins/
!wordpress/polen/plugins/
!wordpress/polen/themes/

# Ignorar Arquivo de conteudo gerado dinamicamente podem no acesso ele é estátivo
wordpress/occasions.json

# Ignorar determinados plugins
wordpress/wp-content/plugins/hello.php
wordpress/polen/plugins/hello.php
wordpress/wp-content/plugins/debug-bar/*
wordpress/polen/plugins/debug-bar/*
wordpress/polen/plugins/polen_2/test/*
wordpress/polen/plugins/polen_2/composer.lock

# Ignorar temas específicos
wordpress/wp-content/themes/twenty*/
wordpress/polen/themes/twenty*/

# Ignorar dependências do node
node_modules/
package-lock.json
yarn.lock

# Ignorar dependencias do composer
wordpress/polen/plugins/polen_2/vendor/*

# Ignorar arquivos descompactados no diretório de uploads padrão
uploads/*
!uploads/uploads.tar.gz
!uploads/README.md

# Ignorar arquivos de log e bancos de dados 
# exceto o arquivo padrão do banco do projeto
wordpress/wp-admin/*.log
*.log
*.sql
*.sqlite
*.sql.gz
*.sqlite.gz
sql/*
!sql/database.sql.gz
!sql/README.md

#ignorar arquivos temporários de estilos
*.css.map

wordpress/polen/plugins/woo-preview-emails
