# MacOS
*.DS_Store

# Ignorar Configurações
.htaccess
wp-config.php

# Ignorar Modelos padrões do Wordpress
wp-config-sample.php
license.txt
readme.html

# Ignorar tudo no wp-content/cubonove exceto os diretórios
# "mu-plugins", "plugins", "themes"
wp-content/*
!wp-content/languages/
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
polen/*
!polen/languages/
!polen/mu-plugins/
!polen/plugins/
!polen/themes/

# Ignorar Arquivo de conteudo gerado dinamicamente podem no acesso ele é estátivo
occasions.json

# Ignorar determinados plugins
wp-content/plugins/hello.php
polen/plugins/hello.php
wp-content/plugins/debug-bar/*
polen/plugins/debug-bar/*
polen/plugins/polen_2/test/*
polen/plugins/polen_2/composer.lock
polen/uploads/*
polen/plugins/kinsta-mu-plugins/*

# Ignorar temas específicos
wp-content/themes/twenty*/
polen/themes/twenty*/

# Ignorar dependências do node
node_modules/
package-lock.json
yarn.lock

# Ignorar dependencias do composer
polen/plugins/polen_2/vendor/*

# Ignorar arquivos descompactados no diretório de uploads padrão
uploads/*
!uploads/uploads.tar.gz
!uploads/README.md

# Ignorar arquivos de log e bancos de dados 
# exceto o arquivo padrão do banco do projeto
wp-admin/*.log
*.log
*.sql
*.sqlite
*.sql.gz
*.sqlite.gz
sql/*
!sql/database.sql.gz
!sql/README.md

#ignorar arquivos temporários de estilos
*.css.map

polen/plugins/woo-preview-emails
