@import "../../styles/mixins";

.faq-accordion {
  border: 1px solid #515151;
  border-radius: 16px;
  padding: 32px;
  .no-border-bottom {
    button {
      border-bottom: none!important;
    }
   }
  .accordion-header {
    position: relative;
    padding-right: 10%;
    @include desktop {
      padding-right: 0%;
    }
    &:after {
      content: "+";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-size: 34px;
      font-weight: 100;
      color: var(--bs-high-pure);
    }
    .accordion-button {
      background: none;
      border: none;
      text-align: left;
      color: var(--bs-high-pure);
      border-bottom: 1px solid #515151;
      width: 100%;
      padding: 20px 0px;
    }
    .accordion-button[aria-expanded="true"] {
      border-bottom: none;
    }
  }
  .accordion-body {
    color: var(--bs-low-light);
  }
}
