// SCSS gerado automaticamente
$brand_color_primary_pure: #FFC300;
$brand_color_primary_light: #FFC300;
$brand_color_primary_dark: #FFC300;

$neutral_color_low_pure: #212121;
$neutral_color_low_light: #A3A3A3;
$neutral_color_low_medium: #1D1B1E;
$neutral_color_low_dark: #101010;
$neutral_color_high_pure: #ffffff;
$neutral_color_high_light: #F5F5F5;
$neutral_color_high_medium: #E0E0E0;
$neutral_color_high_dark: #CCCCCC;

$feedback_color_warning_pure: #FFAC4B;
$feedback_color_warning_light: #FDF5F2;
$feedback_color_warning_medium: #E1D5C0;
$feedback_color_warning_dark: #594424;
$feedback_color_helper_pure: #F64F44;
$feedback_color_helper_light: #FF826F;
$feedback_color_helper_medium: #DF4250;
$feedback_color_helper_dark: #BA0A1A;
$feedback_color_success_pure: #08D371;
$feedback_color_success_light: #F2F9F6;
$feedback_color_success_medium: #D4E2CF;
$feedback_color_success_dark: #214B14;

