$global_font_weight_bold: 700;
$global_font_weight_regular: 400;

$global_font_size_xxxs: 12px;
$global_font_size_xxs: 14px;
$global_font_size_xs: 16px;
$global_font_size_sm: 20px;
$global_font_size_md: 24px;
$global_font_size_lg: 32px;
$global_font_size_xl: 40px;
$global_font_size_xxl: 48px;
$global_font_size_xxxl: 64px;
$global_font_size_display: 80px;
$global_font_size_giant: 96px;

$global_line_height_default: 1;
$global_line_height_xs: 1.15;
$global_line_height_sm: 1.2;
$global_line_height_md: 1.33;
$global_line_height_lg: 1.5;
$global_line_height_xl: 1.7;
$global_line_height_xxl: 2;
