$light-100: #fff;
$light-50: #c4c4c4;
$light-25: rgba(#ffffff, 0.25);
$dark-100: #141114;
$dark-50: rgba(#000000, 0.5);
$dark-25: #707070;
$error-box-color: hsl(0, 82%, 96%);
$yellow: #fff7dd;

$body-bg: #141114;
$body-color: $light-100;
$primary: #fd6c36;
$primary-hover: lighten($primary, 10%);
$secondary: #377dff;
$accept: #3cc13b;
$teal: #ebf9eb;
$danger: #ff000f;
$danger-bg: #fdebeb;

$setembro-amarelo: #FFCF34;
$setembro-amarelo-hover: lighten($setembro-amarelo, 10%);

$lacta-primary: #0033A0;

$progress-bar-bg: $secondary;
$nav-tabs-link-active-color: $primary;
$nav-tabs-border-color: $light-50;

$default-bg-color: $light-25;
$secondary-bg-color: $light-50;
$font-transparent: $light-50;
$talent-bg-color: #272727;
$form-bg-color: $talent-bg-color;
$form-bg-color-contrast: #404040;
$font-color2: $light-50;
$input-font-color: $light-100;
$category-color: #818181;

$polen-primary: #FD6C36;
$polen-primary-light: #FF9048;
$polen-primary-dark: #E36131;
$polen-gradient: #FAA629;
$institucional_gradient: linear-gradient(90deg, #faa629 1.23%, #fc6c36 100%);

$neutral-100: #212529;
$neutral-200: #343A40;
$neutral-300: #495057;
$neutral-400: #868E96;
$neutral-500: #ADB5BD;
$neutral-600: #CED4DA;
$neutral-700: #DEE2E6;
$neutral-900: #E0E0E0;

$theme-colors: (
	"primary": $polen-primary,
	"primary-hover": $polen-primary-light,
	"gradient": $polen-gradient,
	"secondary": $secondary,
	"success": $accept,
	"teal": $teal,
	"danger": $danger,
	"danger-bg": $danger-bg,
	"light": $neutral-900,
	"gray-light": $neutral-500,
	"gray": $neutral-400,
	"gray-dark": $neutral-100,
	"subtitle-light": #c4c4c4,
	"subtitle-dark": #9c9c9c,
	"box-color-light": #e9e9e9,
	"box-color-dark": $neutral-100,
	"dark": $dark-100,
	"subtext": #767676,
	"yellow": $yellow,
  "category": $category-color,
);
