#faq {
  .title {
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
  }
  .subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
  }
  .panel-group {
    .panel {
      border-bottom: 1px solid #CED4DA;
      padding: 35px 20px;
      .panel-heading {
        .panel-title {
          margin: 0px;
          position: relative;
          a:after {
            content: "+";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 30px;
            font-weight: 100;
            color: var(--light);
            @include media-breakpoint-down(xs) {
              right: -30px;
              top: 30%;
              transform: translate(-50%, 0%);
            }
          }
          a[aria-expanded="true"]:after {
            content: "-";
            font-size: 35px;
          }
          a[aria-expanded="true"] {
            color: var(--primary);
          }
          a {
            color: var(--light);
            margin: 0px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            width: 100%;
            word-break: break-word;
            strong {
              font-weight: 500;
            }
          }
        }
      }
      .panel-collapse {
        margin-bottom: 10px;
        .panel-body {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 0em;
          text-align: left;
          color: var(--light);
          margin-top: 20px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
