.mc-banner {
	position: relative;
	min-height: 220px;
	border-radius: 10px;
	overflow: hidden;
	.image {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 0;
	}
	.desktop-img {
		display: none!important;
	}
	.mobile-img {
		display: block!important;
	}
	.content {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 0 0 22px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: var(--light);
		box-sizing: border-box;
		z-index: 2;
		background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		h2 {
			font-size: 20px;
		}
		.btn-md {
			font-weight: 400;
			width: 100px;
		}
		.left {
			img {
				width: 130px;
			}
		}
		.right {
			img {
				//margin: 2em;
				display: none;
			}
		}
	}
	@include media-breakpoint-up(md) {
		height: 350px;
		.desktop-img {
			display: block!important;
		}
		.mobile-img {
			display: none!important;
		}
		.content {
			padding: 0px 0 0 35px;
			p {
				font-size: 16px;
				font-weight: 500;
			}
			.btn-md {
				padding: 12px 20px;
				font-size: 17px;
				width: 180px;
			}
			.left {
				img {
					width: auto;
				}
			}
			.right {
				img {
					display: block;
				}
			}
		}
	}
}

.mc-content {
	h3 {
		font-size: 22px;
		font-weight: 700;
		margin: 20px 0px;
	}
	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 23px;
		color: #707070;
		letter-spacing: -0.05em;
	}
	ul {
		padding: 20px;
		li {
			list-style: disc;
			text-align: left;
			font-size: 16px;
			font-weight: 400;
			line-height: 23px;
			color: #707070;
			letter-spacing: -0.05em;
		}
	}
	img {
		margin: 1em;
	}
	.btn {
		font-size: 15px;
		padding: 15px 25px;
		font-weight: 600;
		@include media-breakpoint-down(sm) {
			width: 100%;
			padding: 10px;
			font-size: 14px;
		}
	}
}

.mc-landing-banner {
	margin: 0 -15px;
	padding: 95px 15px 45px;
	background: no-repeat center/cover url(../img/masterclass/top-bg.png)
		var(--dark);
	.mc-logo {
		margin: auto;
		width: 130px;
		height: auto;
	}

	.title {
		margin: 1rem 0;
		font-size: 24px;
		color: var(--light);
		text-align: center;
	}

	.subtitle {
		font-size: 16px;
		font-weight: 400;
		color: var(--light);
		text-align: center;
	}

	.mc-home-video {
		position: relative;
		margin: auto;
		width: 100%;
		max-width: 800px;
		height: 50vh;
		max-height: 650px;
		border-radius: 20px;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		z-index: 3;
		video {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

#how-to-carousel {
	position: relative;
	.box-round {
		padding: 50px!important;
		height: 100%;
	}
	i {
		background: #d0d0d0;
		border-radius: 50%;
	}
	.bi-clock {
		padding: 10px 20px;
		font-size: 40px;
	}
	.icon-camera-video {
		padding: 30px 17px;
		font-size: 35px;
	}
	.icon-hand-thumbs-up {
		padding: 20px 20px;
		font-size: 40px;
	}
	h4 {
		font-size: 16px;
		line-height: 12px;
		text-align: center;
		letter-spacing: -0.05em;
		color: #000000;
		margin-bottom: 0px;
	}
	p {
		font-size: 14px;
		line-height: 23px;
		color: #707070;
	}
	.owl-dots {
		position: absolute;
		bottom: 15px;
		width: 100%;
	}
	.owl-dot {
		span {
			background: #C4C4C4;
		}
	}
	.owl-dot.active {
		span {
			background: #3F19D7;
		}
	}
}

.masterclass-content-box {
	.description {
		font-size: 14px;
		color: var(--gray);
	}
}

.combate-desktop {
	@include media-breakpoint-down(md) {
		display: none;
	}
}

.combate-mobile {
  display: none;
  min-height: 190px;
	@include media-breakpoint-down(md) {
		display: block;
	}
  .top {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    .combate-logo {
      width: 150px;
    }
  }
  .bottom {
    position: absolute;
    bottom: -5px;
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-primary {
      position: absolute;
      bottom: 24px;
    }
  }
}
