<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Polen - Colab</title>
	</head>
	<body
		style="
			margin: 0;
			padding: 0;
			font-family: Poppins, Roboto, 'Helvetica Neue', Helvetica, Arial,
				sans-serif;
			font-size: 16px;
			line-height: 24px;
		"
	>
		<table style="width: 100%; border: none">
			<thead>
				<tr>
					<td
						style="
							border-bottom: 1px solid #e6e6e6;
							text-align: center;
							height: 70px;
						"
					>
						<img src="../../assets/img/logo.png" alt="Logo" />
					</td>
				</tr>
			</thead>
			<tbody>
				<table style="margin: auto; width: 98%; max-width: 720px">
					<tr>
						<td style="height: 120px">
							<h1 style="text-align: center">
								Envie sua homenagem
							</h1>
						</td>
					</tr>
					<tr>
						<td style="height: 200px; text-align: center">
							<img
								width="185"
								height="185"
								src="../../assets/img/carousel-video.svg"
								alt="Ícone de carrossel de vídeos"
							/>
						</td>
					</tr>
					<tr>
						<td style="height: 40px"></td>
					</tr>
					<tr>
						<td id="content">
							Oi Fulano,
							<p>
								Sobhan o convidou a participar da criação de uma
								vídeo montagem para Diego.<br />
								<strong
									>Seu prazo para envio é 30 de junho de
									2021.</strong
								>
							</p>

							<p
								style="
									padding: 10px 15px;
									border-radius: 8px;
									background-color: #e9e9e9;
								"
							>
								<strong
									>Mensagem de boas-vindas e instruções de
									Diego Jovanholi:</strong
								><br />
								Estamos criando uma montagem de vídeo (ou
								"Tributo") para diego. Você levará apenas um
								minuto para filmar e enviar seu vídeo. Deve ser
								um presente inesquecível que compartilha nosso
								amor e apreço coletivos. Não seja o último a
								enviar! Para saber mais e enviar seu vídeo,
								clique no botão abaixo. Leva apenas um minuto e
								você pode fazer isso de qualquer dispositivo.
							</p>
						</td>
					</tr>
					<tr>
						<td style="height: 60px"></td>
					</tr>
					<tr>
						<td>
							<a
								href="#enviartributo"
								style="
									display: block;
									margin: auto;
									max-width: 300px;
									padding: 15px;
									font-site: 14px;
									text-align: center;
									text-decoration: none;
									color: white;
									background-color: #fd6c36;
									border-radius: 8px;
								"
								target="_blank"
								>Ver vídeo de presente</a
							>
						</td>
					</tr>
					<tr>
						<td style="height: 80px"></td>
					</tr>
				</table>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<table
							style="
								margin: auto;
								width: 98%;
								height: 120px;
								max-width: 847px;
								border-top: 1px solid #e6e6e6;
							"
						>
							<tr>
								<td>
									<img
										src="../../assets/img/logo-black.svg"
										alt="Logo na cor preta"
									/>
								</td>
								<td style="height: 30px; text-align: right">
									<a
										href="https://www.facebook.com/Polen-107879504782470/"
										style="
											display: inline-block;
											margin-left: 40px;
											text-decoration: none;
										"
										target="_blank"
									>
										<img
											src="../../assets/img/facebook.png"
											alt=""
										/>
									</a>
									<a
										href="https://www.instagram.com/polen.me/"
										style="
											display: inline-block;
											margin-left: 40px;
											text-decoration: none;
										"
										target="_blank"
									>
										<img
											src="../../assets/img/instagram.png"
											alt=""
										/>
									</a>
									<a
										href="https://www.tiktok.com/@polen.me"
										style="
											display: inline-block;
											margin-left: 40px;
											text-decoration: none;
										"
										target="_blank"
									>
										<img
											src="../../assets/img/tiktok.png"
											height="18"
											alt=""
										/>
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>
