.subtitle-2 {
  color: var(--bs-low-medium);
  @include media-breakpoint-up(md) {
    font: var(--pol-font-14-regular);
  }
}

.card-title {
  font: var(--pol-font-16-bold);
  color: var(--bs-high-pure);
}

.card-value {
  font: var(--pol-font-16-normal);
  color: var(--bs-high-pure);
}

.typo-xxs {
  font: var(--pol-font-14-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-14-bold);
  }
}

.typo-xs {
  font: var(--pol-font-16-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-16-bold);
  }
}

.typo-sm {
  font: var(--pol-font-20-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-20-bold);
  }
}

.typo-md {
  font: var(--pol-font-24-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-24-bold);
  }
}

.typo-lg {
  font: var(--pol-font-32-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-32-bold);
  }
}

.typo-xl {
  font: var(--pol-font-32-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-32-bold);
  }
  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
}

.typo-xxl {
  font: var(--pol-font-32-regular);
  color: var(--bs-high-pure);
  strong {
    font: var(--pol-font-32-bold);
  }
  @include media-breakpoint-up(md) {
    font-size: 56px;
  }
}

.typo-neutral {
  color: var(--bs-high-medium);
}
